body, html {
    height: 100%;
    margin: 0;
}

.lander-image {
    height: 100%;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
}
.project{
  background-color: #ccc;
  padding: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 47vh;
  overflow: hidden;
}
.project:after {
    content: attr(data-content);
    text-align: center;
    line-height: 47vh;
    color:#fff;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.project-pic{
  height: 100%;
  width: auto;
}
.project:hover:after {
    opacity:1;
}
.main-header{
  position: relative;
  top: 100vh;
  background-color: rgba(0, 112, 255, 0.8);
  padding: 50px 0px;
}
.header-text{
  text-align: center;
}
.title-break{
  border-width: 3px;
  max-width: 200px;
  border-color: white;
  margin: 20px auto 40px auto;
}
.main-break{
  max-width: 40%;
  margin: -10px auto;
}
.text-icon:hover{
  color: white;
}
.text-sub{
  color: black;
}
.lander-text{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: white;
  display: none;
}
.projects-container{
  position: relative;
  top: 200vh;
}
