body, html {
    height: 100%;
    margin: 0;
}

.lander-image {

    height: 100%;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
}
.lander-2{
  background-image: url("../../assets/images/lander2.jpg");
  background-position: bottom;
}
.project{
  background-color: #ccc;
  padding: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 47vh;
  overflow: hidden;
}
.project:after {
    content: attr(data-content);
    text-align: center;
    line-height: 47vh;
    color:#fff;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.project-pic{
  height: 100%;
  width: auto;
}
.project:hover:after {
    opacity:1;
}
.main-header{
  position: relative;
  top: 100vh;
  background-color: #81abd5;
  padding: 50px 0px;
}
.header-text{
  text-align: center;
}
.title-break{
  border-width: 3px;
  max-width: 200px;
  border-color: white;
  margin: 20px auto 40px auto;
}
.main-break{
  max-width: 40%;
  margin: -10px auto;
}
.text-icon:hover{
  color: white;
}
.text-sub{
  color: black;
}
.lander-text{
  text-align: center;
  position: relative;
  top: 80%;
  transform: translateY(-80%);
  font-size: 10vw;
  color: white;
  display: none;
}








.parallax-container {
  max-width: 960px;
  margin: 0 auto;
}
section.par-component:last-child {
  margin-bottom: 0;
}
section.par-component h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.par-component p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.par-component p:last-child {
  margin-bottom: 0;
}
section.par-component.par-text-content {
  padding: 40px 0;
}
section.par-component.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.par-component.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.par-bg{
  /*height: 100%;*/
  background-size: cover;
  overflow: hidden;
}
section.par-component.parallax-1 {
  background-image: url("../../assets/images/lander.jpg");
}
section.par-component.parallax-2 {
  background-image: url("../../assets/images/lander.jpg");
}
section.par-component.parallax-3 {
  background-image: url("../../assets/images/lander.jpg");
}

@media all and (min-width: 600px) {
  section.par-component h2 {
    font-size: 42px;
  }
  section.par-component p {
    font-size: 20px;
  }
  section.par-component.parallax {
    padding: 300px 0;
  }
  section.par-component.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.par-component.parallax h1 {
    font-size: 160px;
  }
}
